.beginService {
    width: 100%;
    height: auto;
    //z-index: -10;
    .beginServiceDivImg {
        img {
            filter: brightness(50%);
        }
    }
    .beginServiceText {
        /*margin-right: 110px;*/
        position: absolute;
        left: 20%;
        text-align: center;
        width: 60%;
        top: 18%;
        //z-index: ;
        h1 {
            color: white;
            font-size: 35px;
            margin-bottom: -15%;
        }
        h4 {
            color: orange;
            padding: 0px;
            font-size: 30px;
        }
    }
}
@media screen and (min-width: 480px) {
    .beginService {
        .beginServiceText {
            top: 23%;
            h1 {
                font-size: 40px;
                margin-bottom: -8%;
            }
            h4 {
                font-size: 35px;
            }
        }
    }
}
@media screen and (min-width: 680px) {
    .beginService {
        .beginServiceText {
            top: 30%;
        }
    }
}
@media screen and (min-width: 800px) {
    .beginService {
        .beginServiceText {
            top: 35%;
            h1 {
                font-size: 50px;
                margin-bottom: -5%;
            }
            h4 {
                font-size: 45px;
            }
        }
    }
}
@media screen and (min-width: 960px) {
    .beginService {
        .beginServiceText {
            top: 45%;
            h1 {
                font-size: 500%;
                margin-bottom: -10%;
            }
            h4 {
                font-size: 470%;
            }
        }
    }
}
@media screen and (min-width: 1500px) {
    .beginService {
        .beginServiceText {
            top: 50%;
            h1 {
                font-size: 500%;
                margin-bottom: -7%;
            }
        }
    }
}