.contacto {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    .contactoContainer {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        .contactoDivIcons {
            .contactoCont1 {
                border: 2px solid lightgray;
                border-radius: 50px;
                padding: 10%;
                display: flex;
                margin-bottom: 10%;
                align-items: center;
                .contactoIcon {
                    border: 2px solid orange;
                    width: 30px;
                    height: 50px;
                    border-radius: 40px;
                    padding: 2%;
                    background: orange;
                    .icon {
                        display: grid;
                        align-items: center;
                        margin-left: -85%;
                        margin-top: 20%;
                        width: 50px;
                        color: white;
                    }
                }
                .contactoDivPe {
                    margin-left: 7%;
                    h2 {
                        font-size: 110%;
                        padding: 0;
                    }
                    p {
                        font-size: 80%;
                    }
                }
                
                .contactoIcons {
                    .contactoIc {
                        border: 2px solid orange;
                        width: 30px;
                        height: 50px;
                        border-radius: 40px;
                        padding: 2%;
                        background: orange;
                        margin-bottom: 5px;
                        .icone {
                            margin-left: -45%;
                            margin-top: 55%;
                            width: 50px;
                            color: white;
                        }
                    }
                }
                .contactoDivPes {
                    margin-left: 7%;
                    h2 {
                        font-size: 110%;
                        padding: 0;
                    }
                    p {
                        font-size: 80%;
                    }
                }
            }
        }
        .contactoRegistrar {
            .tittle {
                font-size: 100%;
                display: grid;
                text-align: center;
            }
            .formSection {
                label {
                    font-size: 100%;
                }
                input {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                    height: 10rem;
                }
            }
            .btn {
                margin-top: 5%;
                width: 50%;
            }    
        }
    }
}
@media screen and (min-width: 480px) {
    .contacto {
        .contactoContainer {
            .contactoDivIcons {
                .contactoCont1 {
                    .contactoIcon {
                        .icon {
                            margin-left: -130%;
                            margin-top: 30%;
                        }
                    }
                    .contactoIcons {
                        display: grid;
                        grid-template-columns: repeat(2, 0.5fr);
                        gap: 10%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 570px) {
    .contacto {
        .contactoContainer {
            .contactoDivIcons {
                .contactoCont1 {
                    .contactoIcon {
                        .icon {
                            margin-left: -150%;
                            margin-top: 30%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 680px) {
    .contacto {
        .contactoContainer {
            .contactoDivIcons {
                .contactoCont1 {
                    .contactoIcon {
                        .icon {
                            margin-left: -230%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 960px) {
    .contacto {
        .contactoContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5%;
            .contactoDivIcons {
                .contactoCont1 {
                    .contactoIcon {
                        .icon {
                            margin-left: -120%;
                        }
                    }
                }
            }
            .contactoRegistrar {
                height: 100%;
                .tittle {
                    font-size: 130%;
                }
                .formSection {
                    label {
                        font-size: 110%;
                    }
                    input {
                        width: 100%;
                    }
                    textarea {
                        width: 100%;
                        height: 17rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1333px) {
    .contacto {
        .contactoContainer {
            .contactoDivIcons {
                .contactoCont1 {
                    .contactoIcon {
                        .icon {
                            margin-left: -190%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1350px) {
    .contacto {
        .contactoContainer {
            .contactoDivIcons {
                .contactoCont1 {
                    margin-bottom: 3%;
                    .contactoIcon {
                        .icon {
                            margin-left: -750%;
                        }
                    }
                }
            }
        }
    }
}